@model IEnumerable<Category>

@foreach (var category in Model)
{
    <tr>
        <td class="ps-4">@category.Name</td>
        <td class="text-center pe-4">
            <button class="btn btn-sm btn-outline-primary edit-category" data-categoryid="@category.Id">
                Edit
            </button>
            <button class="btn btn-sm btn-outline-danger delete-category" data-categoryid="@category.Id">
                Delete
            </button>
        </td>
    </tr>
}