@using MemoryGame.Models
<div class="d-flex justify-content-center">
    <div class="d-grid playfield-grid">
        @foreach (var card in PlayingCards)
        {
            <div class="memory-card @(card.IsMatched ? "matched" : "")" @onclick="() => HandleCardClick(card)">
                <img class="planet-img" src="@(card.Image)" alt="Planet Card"/>
            </div>
        }
    </div>
</div>

@code
{
    [Parameter] public List<Card> PlayingCards { get; set; } = [];

    [Parameter] public EventCallback<Card> OnCardClicked { get; set; }

    private async Task HandleCardClick(Card card)
    {
        await OnCardClicked.InvokeAsync(card);
    }
}
