@page "/"

@rendermode @(new InteractiveServerRenderMode(false))
@using MemoryGame.Features.Game.Components
@using MemoryGame.Services
@implements IDisposable

@inject GameService GameService

<PageTitle>Home</PageTitle>

<h1 class="display-4 text-center mb-4 display-space">Memory Game</h1>
<div class="text-center mb-5">
    <DifficultySelector SelectedDifficulty="GameService.SelectedDifficulty"
                        SelectedDifficultyChanged="GameService.SetDifficulty"/>
    <GameStats ElapsedGameTime="GameService.ElapsedTime" OnGameStarted="GameService.StartGame"
               OnGameStopped="GameService.StopGame"/>
</div>

<div class="container-lg card-container">
    <GameField PlayingCards="GameService.PlayingCards" OnCardClicked="GameService.HandleCardClick"/>
</div>

@code
{
    protected override void OnInitialized()
    {
        GameService.OnStateChanged += HandleStateChanged;
    }

    public void Dispose()
    {
        GameService.OnStateChanged -= HandleStateChanged;
    }

    private void HandleStateChanged()
    {
        InvokeAsync(StateHasChanged);
    }
}