@page "/"

@rendermode @(new InteractiveServerRenderMode(false))
@using MemoryGame.Features.Game.Components
@using MemoryGame.Models
@using MemoryGame.Services
@implements IDisposable

@inject GameService GameService
@inject IJSRuntime JsRuntime

<PageTitle>Home</PageTitle>

<h1 class="display-4 text-center mb-4 display-space">Memory Game</h1>
<div class="text-center mb-5">
    <DifficultySelector SelectedDifficulty="GameService.SelectedDifficulty"
                        SelectedDifficultyChanged="GameService.SetDifficulty"/>
    <GameStats ElapsedGameTime="GameService.ElapsedTime" OnGameStarted="HandleGameStarted"
               OnGameStopped="GameService.StopGame"/>
</div>

<div class="container-lg card-container" @ref="_playfieldContainer">
    <GameField PlayingCards="GameService.PlayingCards" OnCardClicked="GameService.HandleCardClick"/>
</div>

@code
{
    private ElementReference _playfieldContainer;

    protected override void OnInitialized()
    {
        GameService.OnStateChanged += HandleStateChanged;
    }

    public void Dispose()
    {
        GameService.OnStateChanged -= HandleStateChanged;
    }

    private void HandleStateChanged()
    {
        InvokeAsync(StateHasChanged);
    }

    private async Task HandleGameStarted()
    {
        GameService.StartGame();

        if (GameService.SelectedDifficulty == Difficulty.Hard)
        {
            await JsRuntime.InvokeVoidAsync("memoryGame.scrollIntoViewIfNeeded", _playfieldContainer);
        }
    }
}
