@page "/"

@rendermode @(new InteractiveServerRenderMode(false))

@using MemoryGame.Features.Game.Components
@using MemoryGame.Models
@using MemoryGame.Services
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@implements IDisposable

@inject GameService GameService
@inject ProtectedLocalStorage ProtectedLocalStore

<PageTitle>Home</PageTitle>

<h1 class="display-4 text-center mb-4 display-space">Memory Game</h1>
<div class="text-center mb-5">
    <DifficultySelector SelectedDifficulty="GameService.SelectedDifficulty"
                        SelectedDifficultyChanged="GameService.SetDifficulty"/>
    <GameStats ElapsedGameTime="GameService.ElapsedTime" OnGameStarted="GameService.StartGame"
               OnGameStopped="GameService.StopGame"/>
</div>

<div class="container-lg card-container">
    <GameField PlayingCards="GameService.PlayingCards" OnCardClicked="GameService.HandleCardClick"/>
</div>

@code
{
    protected override void OnInitialized()
    {
        GameService.OnStateChanged += () => InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        GameService.OnStateChanged -= StateHasChanged;
    }

    private IEnumerable<Card> CreateCards(int amount)
    {
        const int availableImages = 10;
        var cardId = 0;
        var pairsToCreate = amount / 2;

        for (var i = 0; i < pairsToCreate; i++)
        {
            var image = $"planet0{i % availableImages}.png";
            yield return new Card(cardId++, image);
            yield return new Card(cardId++, image);
        }
    }
    //
    //
    //
    // private async Task GameOver()
    // {
    //     StopGame();
    //     var storedData = await ProtectedLocalStore.GetAsync<List<Score>>("scores");
    //     var gameScores = storedData.Value ?? [];
    //     gameScores.Add(new Score
    //     {
    //         Date = DateTime.Now,
    //         Difficulty = _selectedDifficulty,
    //         GameDuration = _elapsedGameTime
    //     });
    //
    //     await ProtectedLocalStore.SetAsync("scores", gameScores);
    // }
}