:root {
    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;

    --nord11: #bf616a;

    --bs-danger: var(--nord11);
}

body {
    background-color: var(--nord0);
}

#todoList {
    background-color: var(--nord1);
}

#todoList > li {
    border-color: var(--nord2);
    background-color: var(--nord3);
}

.todo-title {
    background-color: var(--nord2);
    border: 1px solid var(--nord2);
    border-radius: 0.375rem 0.375rem 0 0;
    color: white;
}

#todoList {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#todoList > li:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-danger {
    background-color: var(--nord11);
}