@page "/records"
@using MemoryGame.Models
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@rendermode @(new InteractiveServerRenderMode(false))

@inject ProtectedLocalStorage ProtectedLocalStore

<div class="mb-4">
    <h1 class="display-4 text-center display-space">Mission Logs</h1>
    <p class="text-center text-info">Review your past galactic adventures</p>
</div>

@if (_gameScores.Count == 0)
{
    <div class="alert alert-info bg-dark border-info text-info text-center">
        <p class="mb-0">No mission data found. Time to explore the universe!</p>
    </div>
}
else
{
    <div class="row justify-content-center">
        <div class="col col-md-8 col-lg-6">
            <div class="table-responsive">
                <table class="table space-table text-center">
                    <thead>
                    <tr>
                        <th class="display-space">Date</th>
                        <th class="display-space">Difficulty</th>
                        <th class="display-space">Completion Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var score in _gameScores)
                    {
                        <tr>
                            <td class="align-middle">@score.Date.ToString("G")</td>
                            <td class="align-middle">@score.Difficulty.GetDifficultyName()</td>
                            <td class="align-middle fw-bold text-info">@(score.GameDuration.ToString(@"mm\:ss"))</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

@code
{
    List<Score> _gameScores = [];

    protected override async Task OnInitializedAsync()
    {
        _gameScores = (await ProtectedLocalStore.GetAsync<List<Score>>("scores")).Value ?? [];
        _gameScores.Sort((score, score1) => score.GameDuration.CompareTo(score1.GameDuration));
    }


}