@page "/records"
@using MemoryGame.Models
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@rendermode @(new InteractiveServerRenderMode(false))

@inject ProtectedLocalStorage ProtectedLocalStore

<div class="mb-3">
    <h1 class="display-4 text-center">Your record times</h1>
    <p class="text-center">Here you can see your previous records</p>
</div>

@if (_gameScores.Count == 0)
{
    <div class="alert alert-warning">
        <p>No previous games found. Go play some!</p>
    </div>
}
else
{
    <div class="row justify-content-center">
        <div class="col col-5">
            <table class="table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Record</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var score in _gameScores)
                {
                    <tr>
                        <td>@score.Date.ToString("G")</td>
                        <td>@(TimeSpan.FromTicks(score.GameTicks).ToString(@"mm\:ss"))</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}

@code
{
    List<Score> _gameScores = [];

    protected override async Task OnInitializedAsync()
    {
        _gameScores = (await ProtectedLocalStore.GetAsync<List<Score>>("scores")).Value ?? [];
        _gameScores.Sort((score, score1) => score.GameTicks.CompareTo(score1.GameTicks));
    }
}